name: Run Poster Generate

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

env:
  # please change to your own config.
  # this actions generate only this year
  # If you fork this please change the type to yours below
  TYPE: "github, leetcode, duolingo" # support strava/gpx/ns/cichang/shanbay/duolingo/issue/leetcode/twitter/github/gitlab/kindle/bilibili/wakatime/dota2/forest, Please change the 'pass' it to your own separated by commas
  ME: MilkyGreen
  GITHUB_NAME: MilkyGreen
  GITHUB_EMAIL: 781443857@qq.com

jobs:
  sync:
    name: Sync
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.6

      # from pdm
      - name: Set Variables
        id: set_variables
        run: |
          echo "::set-output name=PY::$(python -c 'import hashlib, sys;print(hashlib.sha256(sys.version.encode()+sys.executable.encode()).hexdigest())')"
          echo "::set-output name=PIP_CACHE::$(pip cache dir)"
      - name: Cache PIP
        uses: actions/cache@v2
        with:
          path: ${{ steps.set_variables.outputs.PIP_CACHE }}
          key: Ubuntu-pip-${{ steps.set_variables.outputs.PY }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
        if: steps.pip-cache.outputs.cache-hit != 'true'
        
      - name: Run sync duolingo script
        if: contains(env.TYPE, 'duolingo')
        run: |
          python -m github_poster duolingo --duolingo_user_name ${{ secrets.DUOLINGO_USERNAME }} --duolingo_password ${{ secrets.DUOLINGO_PASSWORD }} --me ""

      - name: Run sync leetcode script
        if: contains(env.TYPE, 'leetcode')
        run: |
          python -m github_poster leetcode --leetcode_cookie  '${{ secrets.LEETCODE_COOKIE }}' --me " " --cn
          
      - name: Run sync github script
        if: contains(env.TYPE, 'github')
        run: |
          python -m github_poster github --github_user_name MilkyGreen --me " " --stand-with-ukraine

      - name: Mv svg files to examples
        # only for me to show
        # if: 1 == 1
        run: mv OUT_FOLDER/*.svg examples/ 

      - name: Push new postger
        run: |
          git config --local user.email "${{ env.GITHUB_EMAIL }}"
          git config --local user.name "${{ env.GITHUB_EMAIL }}"
          git commit -a -m 'update new poster' || echo "nothing to commit"
          git push || echo "nothing to push"


